.select2-container .select2-selection--single {
  display: block;
  width: 100%;
  height: calc(2.7rem + 0rem);
  padding: 0.5625rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.8;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0rem solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.select2-dropdown {
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.select2-container--default .select2-results__option--selected {
  background: #F8F9FA;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #2CE8AC;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px;
  right: 7px;
}